.c-text-fade-in {
    opacity: 0;

    &--trigger{
        animation-name: text-fadein;
        animation-duration: 1s;
        animation-fill-mode: forwards;    
    }
}

@keyframes text-fadein {
  from {
	filter: blur(10px);
	transform: scale(1.02);
	opacity: 0;
  }

  to {
	filter: blur(0);
	transform: scale(1);
	opacity: 1;
  }
}
 
