@use "../../foundations/responsive" as *;

.p-concept-lineup {

    &__list {
        padding: 3rem 0 5rem 0;

        @include mq(sm) {
            padding: 2rem 0 0;
        }

        > :nth-of-type(2) {
            & :first-of-type {
                order: 2;
                margin-left: 2.5rem;

                @include mq(sm) {
                    margin-left: 0;
                }
            }

            & :last-of-type {
                order: 1;
                margin-left: 0;
            }
        }

        &--box {
            align-items: center;

            &:not(:last-of-type) {
                margin-bottom: 4.5rem;

                @include mq(sm) {
                    margin-bottom: 0;
                }
            }

            @include mq(sm) {
                flex-wrap: wrap;
                padding-bottom: 3rem;
            }

            &--text {
                width: 50%;

                @include mq(sm) {
                    width: 100%;
                    order: 2;
                    margin-top: 1rem;
                }

                h3 {
                    font-size: 1.9rem;

                    @include mq(sm) {
                        font-size: 1.2rem;
                    }
                }

                p {
                    margin: 1rem 0;
                    line-height: 1.8;

                    @include mq(sm) {
                        font-size: 0.9rem;
                    }
                }
            }

            &--img {
                width: 50%;
                margin-left: 2rem;

                @include mq(sm) {
                    width: 100%;
                    margin-left: 0;
                }

                img {
                    width: 100%;
                    border-radius: 3px;

                    @include mq(sm) {
                        object-fit: contain;
                    }
                }
            }
        }

        &--button {
            padding-top: 0.5rem;

            @include mq(sm) {
                text-align: end;
            }
        }
    }
}